body {
font-family: Arial, sans-serif;
background-color: #ffefef;
display: flex;
flex-direction: column;
align-items: center;
}
h1 {
background-color: #ff0000;
color: #ffffff;
text-align: center;
padding: 16px;
margin: 0;
width: 100%;
}
.back-to-menu {
color: #ffffff;
text-decoration: none;
font-size: 16px;
font-weight: bold;
margin-right: 10px;
display: inline-block;
vertical-align: middle;
background-color: #ff0000;
padding: 5px 10px;
border-radius: 5px;
border: 1px solid #ffffff;
}
.back-to-menu i {
color: #ffffff;
font-size: 20px;
}
.back-to-menu:hover {
text-decoration: none;
background-color: #cc0000;
}
.h1-container {
position: relative;
}
.h1-container::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ff0000;
z-index: -1;
}
.pokemon-container {
display: flex;
justify-content: center;
align-items: center;
width: 80%;
max-width: 1000px;
margin-top: 16px;
}
.pokedex-container {
display: flex;
justify-content: center;
align-items: center;
width: 80%;
max-width: 1000px;
}
.version-container {
width: 25%;
}
.description-container {
width: 75%;
}
.version-select {
font-size: 16px;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
background-color: #ffd6d6;
color: #000;
width: 80%;
max-width: 970px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.version-select:focus {
outline: none;
border-color: #ff0000;
box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}
#version-select {
width: 100%;
}
@media screen and (max-width: 768px) {
    .pokedex-container {
      flex-direction: column;
    }
    .version-container, .description-container {
      width: 100%;
    }
  }
img {
width: 70%;
max-width: 500px;
}
table {
background-color: #f8f8f8;
padding: 16px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-collapse: collapse;
margin-left: 16px;
width: 48%;
}
td {
padding: 8px;
border: 1px solid #ccc;
}
.attribute {
font-weight: bold;
background-color: #ff0000;
color: #ffffff;
}
.value {
background-color: #ffd6d6;
color: #000;
}
.back-button {
background-color: #ff0000;
color: #ffffff;
padding: 12px 24px;
font-size: 16px;
border: none;
border-radius: 4px;
cursor: pointer;
margin-top: 16px;
text-decoration: none;
white-space: nowrap;
}
.back-button:hover {
background-color: #cc0000;
}
.tag {
display: inline-block;
padding: 4px 8px;
border-radius: 4px;
margin-right: 8px;
margin-bottom: 8px;
font-weight: bold;
text-transform: uppercase;
font-size: 12px;
letter-spacing: 1px;
white-space: nowrap;
}
.normal {
background-color: #A8A878;
color: #fff;
}
.fighting {
background-color: #C03028;
color: #fff;
}
.flying {
background-color: #A890F0;
color: #fff;
}
.poison {
background-color: #A040A0;
color: #fff;
}
.ground {
background-color: #E0C068;
color: #fff;
}
.rock {
background-color: #B8A038;
color: #fff;
}
.bug {
background-color: #A8B820;
color: #fff;
}
.ghost {
background-color: #705898;
color: #fff;
}
.steel {
background-color: #B8B8D0;
color: #fff;
}
.fire {
background-color: #F08030;
color: #fff;
}
.water {
background-color: #6890F0;
color: #fff;
}
.grass {
background-color: #78C850;
color: #fff;
}
.electric {
background-color: #F8D030;
color: #fff;
}
.psychic {
background-color: #F85888;
color: #fff;
}
.ice {
background-color: #98D8D8;
color: #fff;
}
.dragon {
background-color: #7038F8;
color: #fff;
}
.dark {
background-color: #705848;
color: #fff;
}
.fairy {
background-color: #EE99AC;
color: #fff;
}
.description {
background-color: #f8f8f8;
padding: 16px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
font-size: 14px;
line-height: 1.2;
text-align: justify;
max-width: 970px;
}
.section-title-cell {
background-color: #ff0000;
color: #ffffff;
font-size: 18px;
font-weight: bold;
text-align: center;
}
.table-container {
display: flex;
justify-content: space-between;
width: 80%;
max-width: 1000px;
margin-top: 16px;
}
.abilities-text {
font-size: 14px;
}
.hidden-ability {
background-color: rgba(75, 0, 130, 0.7);
color: #fff;
font-size: 12px;
font-weight: bold;
padding: 4px 8px;
border-radius: 4px;
margin-left: 4px;
display: inline-block;
vertical-align: top;
}
.stat-bar-container {
display: flex;
align-items: center;
width: 100%;
}
.stat-bar {
background-color: #ccc;
height: 10px;
border-radius: 5px;
flex-grow: 1;
margin-left: 8px;
}
.stat-value {
background-color: #ff0000;
height: 100%;
border-radius: 5px;
}
.abilities-bar{
width: 250px;
}
.section-title {
font-size: 18px;
font-weight: bold;
margin-bottom: 8px;
margin-top: 24px;
}
@media screen and (max-width: 1024px) {
.pokemon-container {
flex-direction: column;
}

table {
margin-left: 0;
width: 100%;
}

.table-container {
flex-direction: column;
}

.abilities-table {
margin-bottom: 16px;
}

img {
max-width: 400px;
margin-bottom: 16px;
}
}

@media screen and (max-width: 767px) {
.pokemon-container {
width: 90%;
}

.description {
width: 90%;
}

.table-container {
width: 90%;
}

img {
max-width: 300px;
}
}

@media screen and (max-width: 480px) {
img {
max-width: 250px;
}

.abilities-bar {
width: 200px;
}
}
