body {
font-family: Arial, sans-serif;
background-color: #ffefef;
display: flex;
flex-direction: column;
align-items: center;
}
h1 {
background-color: #ff0000;
color: #ffffff;
text-align: center;
padding: 16px;
margin: 0;
width: 100%;
}
.pokemon-container {
display: flex;
justify-content: center;
align-items: center;
width: 80%;
max-width: 1000px;
margin-top: 16px;
}
img {
width: 70%;
max-width: 500px;
}
table {
background-color: #f8f8f8;
padding: 16px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-collapse: collapse;
margin-left: 16px;
width: 48%;
}
td {
padding: 8px;
border: 1px solid #ccc;
}
.attribute {
font-weight: bold;
background-color: #ff0000;
color: #ffffff;
}
.value {
background-color: #ffd6d6;
color: #000;
}
.back-button {
background-color: #ff0000;
color: #ffffff;
padding: 8px 16px;
font-size: 16px;
border: none;
border-radius: 4px;
cursor: pointer;
margin-top: 16px;
text-decoration: none;
}
.back-button:hover {
background-color: #cc0000;
}
.tag {
display: inline-block;
padding: 4px 8px;
border-radius: 4px;
margin-right: 8px;
margin-bottom: 8px;
font-weight: bold;
text-transform: uppercase;
font-size: 12px;
letter-spacing: 1px;
white-space: nowrap;
}
.normal {
background-color: #A8A878;
color: #fff;
}
.fighting {
background-color: #C03028;
color: #fff;
}
.flying {
background-color: #A890F0;
color: #fff;
}
.poison {
background-color: #A040A0;
color: #fff;
}
.ground {
background-color: #E0C068;
color: #fff;
}
.rock {
background-color: #B8A038;
color: #fff;
}
.bug {
background-color: #A8B820;
color: #fff;
}
.ghost {
background-color: #705898;
color: #fff;
}
.steel {
background-color: #B8B8D0;
color: #fff;
}
.fire {
background-color: #F08030;
color: #fff;
}
.water {
background-color: #6890F0;
color: #fff;
}
.grass {
background-color: #78C850;
color: #fff;
}
.electric {
background-color: #F8D030;
color: #fff;
}
.psychic {
background-color: #F85888;
color: #fff;
}
.ice {
background-color: #98D8D8;
color: #fff;
}
.dragon {
background-color: #7038F8;
color: #fff;
}
.dark {
background-color: #705848;
color: #fff;
}
.fairy {
background-color: #EE99AC;
color: #fff;
}
.description {
background-color: #f8f8f8;
padding: 16px;
border-radius: 8px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin-top: 16px;
font-size: 14px;
line-height: 1.4;
text-align: justify;
width: 80%;
max-width: 970px;
margin-bottom: 16px;
}
.section-title-cell {
background-color: #ff0000;
color: #ffffff;
font-size: 18px;
font-weight: bold;
text-align: center;
}
.table-container {
display: flex;
justify-content: space-between;
width: 80%;
max-width: 1000px;
margin-top: 16px;
}
.abilities-text {
font-size: 14px;
}
.stat-bar-container {
display: flex;
align-items: center;
width: 100%;
}
.stat-bar {
background-color: #ccc;
height: 10px;
border-radius: 5px;
flex-grow: 1;
margin-left: 8px;
}
.stat-value {
background-color: #ff0000;
height: 100%;
border-radius: 5px;
}
.abilities-bar{
width: 250px;
}
.section-title {
font-size: 18px;
font-weight: bold;
margin-bottom: 8px;
margin-top: 24px;
}